# imports
importFrom("stats", "dt", "pt", "qt", "pnorm", "qnorm", "dnorm")
importFrom("graphics", "plot", "abline", "points", "legend", "par", "polygon", "title")
importFrom("grDevices", "adjustcolor")
importFrom("utils", "capture.output")
# exports
S3method(plot, power)
S3method(plot, mdes)
S3method(plot, mrss)
export(plot.power)
export(plot.mdes)
export(plot.mrss)
export(t1t2.error)
export(mdes.ira1r1)
export(mdes.bira2c1)
export(mdes.bira2f1)
export(mdes.bira2r1)
export(mdes.cra2r2)
export(mdes.bira3r1)
export(mdes.bcra3f2)
export(mdes.bcra3r2)
export(mdes.cra3r3)
export(mdes.bira4r1)
export(mdes.bcra4r2)
export(mdes.bcra4f3)
export(mdes.bcra4r3)
export(mdes.cra4r4)
export(power.ira1r1)
export(power.bira2c1)
export(power.bira2f1)
export(power.bira2r1)
export(power.cra2r2)
export(power.bira3r1)
export(power.bcra3f2)
export(power.bcra3r2)
export(power.cra3r3)
export(power.bira4r1)
export(power.bcra4r2)
export(power.bcra4f3)
export(power.bcra4r3)
export(power.cra4r4)
export(mrss.ira1r1)
export(mrss.bira2c1)
export(mrss.bira2f1)
export(mrss.bira2r1)
export(mrss.cra2r2)
export(mrss.bira3r1)
export(mrss.bcra3f2)
export(mrss.bcra3r2)
export(mrss.cra3r3)
export(mrss.bira4r1)
export(mrss.bcra4r2)
export(mrss.bcra4f3)
export(mrss.bcra4r3)
export(mrss.cra4r4)
export(mdes.to.pctl)
export(mrss.to.mdes)
export(mrss.to.power)
export(power.to.mdes)
export(mdes.to.power)
# defunct
export(optimal.ira1r1)
export(optimal.bira2c1)
export(optimal.bira2f1)
export(optimal.bira2r1)
export(optimal.cra2r2)
export(optimal.bira3r1)
export(optimal.bcra3f2)
export(optimal.bcra3r2)
export(optimal.cra3r3)
export(optimal.bira4r1)
export(optimal.bcra4r2)
export(optimal.bcra4f3)
export(optimal.bcra4r3)
export(optimal.cra4r4)
export(optimal.to.mdes)
export(optimal.to.power)
