# imports
importFrom("stats", "dt", "pt", "qt", "pnorm", "qnorm", "dnorm")
importFrom("grDevices", "adjustcolor")
importFrom("graphics", "abline", "legend", "par", "plot", "polygon", "text", "title")
importFrom("utils", "capture.output")
import(nloptr)
# exports
export(mdes.ira1r1)
export(mdes.bira2c1)
export(mdes.bira2f1)
export(mdes.bira2r1)
export(mdes.cra2r2)
export(mdes.bira3r1)
export(mdes.bcra3f2)
export(mdes.bcra3r2)
export(mdes.cra3r3)
export(mdes.bira4r1)
export(mdes.bcra4r2)
export(mdes.bcra4f3)
export(mdes.bcra4r3)
export(mdes.cra4r4)
export(mdes.mod1n.cra2r2)
export(mdes.mod1r.cra2r2)
export(mdes.mod2.cra2r2)
export(mdes.mod1n.cra3r3)
export(mdes.mod1r.cra3r3)
export(mdes.mod2n.cra3r3)
export(mdes.mod2r.cra3r3)
export(mdes.mod3.cra3r3)
export(mdes.ird1r1)
export(mdes.bird2f1)
export(mdes.bird2r1)
export(mdes.crd2r2)
export(mdes.bcrd3f2)
export(mdes.bcrd3r2)
export(mdes.crd3r3)
export(power.ira1r1)
export(power.bira2c1)
export(power.bira2f1)
export(power.bira2r1)
export(power.cra2r2)
export(power.bira3r1)
export(power.bcra3f2)
export(power.bcra3r2)
export(power.cra3r3)
export(power.bira4r1)
export(power.bcra4r2)
export(power.bcra4f3)
export(power.bcra4r3)
export(power.cra4r4)
export(power.mod1n.cra2r2)
export(power.mod1r.cra2r2)
export(power.mod2.cra2r2)
export(power.mod1n.cra3r3)
export(power.mod1r.cra3r3)
export(power.mod2n.cra3r3)
export(power.mod2r.cra3r3)
export(power.mod3.cra3r3)
export(power.ird1r1)
export(power.bird2f1)
export(power.bird2r1)
export(power.crd2r2)
export(power.bcrd3f2)
export(power.bcrd3r2)
export(power.crd3r3)
# export(optimal.ira1r1)
# export(optimal.bira2c1)
# export(optimal.bira2f1)
# export(optimal.bira2r1)
# export(optimal.cra2r2)
# export(optimal.bira3r1)
# export(optimal.bcra3f2)
# export(optimal.bcra3r2)
# export(optimal.cra3r3)
# export(optimal.bira4r1)
# export(optimal.bcra4r2)
# export(optimal.bcra4f3)
# export(optimal.bcra4r3)
# export(optimal.cra4r4)
export(cosa.ira1r1)
export(cosa.bira2c1)
export(cosa.bira2f1)
export(cosa.bira2r1)
export(cosa.cra2r2)
export(cosa.bira3r1)
export(cosa.bcra3f2)
export(cosa.bcra3r2)
export(cosa.cra3r3)
export(cosa.bira4r1)
export(cosa.bcra4r2)
export(cosa.bcra4f3)
export(cosa.bcra4r3)
export(cosa.cra4r4)
export(cosa.mod1n.cra2r2)
export(cosa.mod1r.cra2r2)
export(cosa.mod2.cra2r2)
export(cosa.mod1n.cra3r3)
export(cosa.mod1r.cra3r3)
export(cosa.mod2n.cra3r3)
export(cosa.mod2r.cra3r3)
export(cosa.mod3.cra3r3)
export(cosa.ird1r1)
export(cosa.bird2f1)
export(cosa.bird2r1)
export(cosa.crd2r2)
export(cosa.bcrd3f2)
export(cosa.bcrd3r2)
export(cosa.crd3r3)
export(compare.cosa)
export(mdes.to.pctl)
export(mdes.to.power)
export(power.to.mdes)
# export(optimal.to.mdes)
# export(optimal.to.power)
# export(mrss.to.mdes)
# export(mrss.to.power)
export(cosa.to.mdes)
export(cosa.to.power)
